{% extends 'wrapper.html' %}
{% load static %}
{% block title %}
<title>Register Page</title>
<link rel="stylesheet" href="{% static 'main/style.css' %}">
{% endblock %}
{% block body %}
{% if request.user.is_authenticated %}
<h2>Пользователь уже вошел</h2>
{{request.user}}
{% else %}
{% if pas_failure %}
<p>Неверный пароль</p>
{% endif %}
{% if user_failure %}
<p>Пользователь с именем {{ username }} уже существует. Пожалуйста придумайте новый логин.</p>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <p>Username: {{form.username}}</p>
    <p>Password: {{form.password1}}</p>
    <p>RE-Password: {{form.password2}}</p>
    <p><input type="submit" value="Register"></p>
</form>
{% endif %}
{% endblock %}
